body {
    background: rgb(70, 142, 236);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);

}

footer {
    color: white;
    text-align: center;
    font-style: ita;
}

.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



button{
    width: 100%;
    padding: 10px ;
    margin-top: 10px;
    background-color: #007bff;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}

button:hover {
    background-color: #0056b3;
}

#opcoes button {
    margin: 5px 0;
    width: 100%;
}